@use '../custom' as *;
@use '../components/mixins' as *;

.footer {
	padding-top: 1rem;
	background-color: $footer;

	.contact-box {
		position: relative;

		&__icon {
			width: 3rem;
			stroke: $primary;
			padding-top: 0.5rem;
		}

		&__info {
			padding: 0.4rem;
			font-weight: 600;

			&--title {
				color: $white;
				text-decoration: none;
				font-size: 1rem;
			}

			&--subtitle {
				font-size: 0.8rem;
				color: $gray-600;
				text-decoration: none;
			}
		}
	}
}

.footer-sm {
	a {
		color: $white;
		i {
			font-size: 2rem;
			margin-left: 1rem;
		}
      &:hover {
    	color: $primary;
    	text-decoration: underline;;
    }
  }
}

.company-list {
	a {
		color: $white;
		text-decoration: none;

		&:hover {
			color: $primary;
			text-decoration: underline;
		}
	}

}
.footer-bottom {
	background-color: $black;
	&__copyright {
		color: $gray-600;
		font-weight: 400;

		a {
			color: $gray-300;
			text-decoration: none;

			&:hover {
				color: $primary;
				text-decoration: underline;
			}
		}
	}
}

.back-to-top {
	position: fixed;
	right: 1.875rem;
	bottom: 1.875rem;
	width: 4rem;
	height: 4rem;
	z-index: 9999;
	i {
		color: $white;
		font-size: 2rem;
		@include absolutecenter;
	}
}